psycopg2-binary==2.9.9
requests==2.31.0
pandas==2.1.4
python-dateutil==2.8.2
openpyxl==3.1.2
python-dotenv==1.0.0   # опціонально, для локального запуску
gspread==6.1.2
google-auth==2.29.0
google-ads==25.1.0
